<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Misssion to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Misssion to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      <p>Latest Mars News</p>
      <h2>{{ mars_data.News.title }}</h2>
      <p>{{mars_data.News.p}}</p>
      <h2>Featured Mars Image</h3>
      <img src="{{mars_data.Feature_img}}" alt="Feature Image">
      <h2>Mars Facts</h2>
      <table border="1" class="dataframe">{{mars_data.table}}</table>
      
    </div>
    
  </div>
  </div>
</body>

</html>
